.friends {
  margin-bottom: 20px;
}
.title {
  color: #ddd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.friendList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  width: 120px;
  transform: scale(1);
  transition: transform 250ms linear;
  cursor: pointer;
}
.item:not(:last-child) {
  margin-right: 10px;
}

.item:hover {
  transform: scale(1.05);
}
