.thead {
  background-color: rgba(117, 190, 218, 0.9);
  color: white;
}

.title {
  color: #ddd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

.th {
  width: 100px;
}

.tr {
  text-align: center;
  cursor: pointer;
  transform: scale(1);
  background-color: transparent;
  color: #fff;
  transition: transform 250ms linear, background-color 250ms linear;
}
.tr:nth-child(even) {
  background-color: rgba(117, 190, 218, 0.4);
}

.tr:hover {
  transform: scale(1.05);
  background-color: rgba(156, 206, 63, 0.9);
}
